<h1>Hi</h1>

<%= flash[:notice] %>

<!-- <%= link_to "Add Candidate", "/candidates/new" %> -->
<%= link_to "Add Candidate", new_candidate_path %>
<!-- <a href="/candidates/new">Add Candidate</a> -->

<table>
	<tr>
		<td>Name</td>
		<td>Party</td>
		<td>Age</td>
		<!-- <td>Politics</td> -->
		<td>Action</td>
	</tr>

	<% @candidates.each do |candidate| %>


	<tr>
		<td><%= link_to candidate.name, candidate_path(candidate.id) %></a></td>
		<td><%= candidate.party %></td>
		<td><%= candidate.age %></td>
		<td>
			<%= link_to "update", edit_candidate_path(candidate.id) %>
			<%= link_to "delete", candidate_path(candidate.id), method: "delete", data: {confirm: "are you sure?"} %>
		</td>
		<td>

		</td>
	</tr>
	<% end %>
</table>